#body {
	display: flex;
	align-items: center;
	flex-flow: column;
	margin-top: 100px;
	margin-left: 225px;
}

/* sidebar menu */
.sidebar-menu {
    width: 15%;
    height: 900px;
    position: fixed;
    background-color:  #F8F8F8;
    left: 0;
    top: 0;
    margin-top: 60px;
    box-shadow: 3px 0px 10px rgba(70, 70, 70, 0.057);
    
}
/* ava set */
.ava-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height: 200px;
    line-height: 0.6;
}

.ava-set img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.ava-set h4 {
    font-size: 18px;
    color: #1d2129;
}


/* menu options */
.menu-element {
    height: 50px;
    width: 100%;
    color:#1d2129 ;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 11px;
}

.menu-element-icon {
    display: flex;
}

.menu-element h3 {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
    /* font-weight: bold; */
}

.menu-element-icon svg {
    width: 21px;
    margin-left: 35px;
    fill: rgb(153, 152, 152);
}


.active {
    background-color: #a93f48;
    border-radius: 15px;
    color: white ;
    /* box-shadow: -10px -10px 15px rgb(228, 228, 228),
    10px 10px 15px rgba(70, 70, 70, 0.144);  */
    box-shadow: -5px -8px 10px rgba(228, 228, 228, 0.495),
    10px 10px 15px rgba(70, 70, 70, 0.144); 
}

.active svg {
    fill: #ffffff;
}

.menu-elements-conatainer {
    padding-bottom: 25px;
}


#collaboration {
	/* background-color: white; */
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
	background-color: #f8f8f8;
	box-shadow: -10px -10px 15px rgb(255, 255, 255),
	10px 10px 15px rgba(70, 70, 70, 0.178); 
}
#tabs {
	margin: 20px;
	display: flex;
	width: 900px;
}

.nav-tabs .nav-link {
	border-radius: 15px;
	color: black;
}

.collabPlaylist {
	display: flex;
	width: 900px;
	height: 250px;
	color: #fff;
	align-items: center;
	border-radius: 15px;
	background-color: hsla(0, 0%, 16%, 0.8);
	background-blend-mode: overlay;
	box-shadow: -10px -10px 15px rgb(255, 255, 255),
		10px 10px 15px rgba(70, 70, 70, 0.178);
	background-image: url("https://i.pinimg.com/originals/d9/de/11/d9de112b2c4aedef6df31d05194adf21.jpg");
	background-repeat: none;
	overflow: hidden ;
	overflow: scroll;
	

}

.collaborators {
	display: flex;
	flex-flow: column;
	
	width: 250px;
	height: 700px;
	border-right: 1px solid rgba(206, 205, 205, 0.719);
	margin-bottom: -400px;
	
	
}
.collaboratorIn4 {
	display: flex;
	align-items: center;
	flex-flow: column;
}
.collabProfile {
	
	width: 100%;
	height: 175px;

	
}
.collabName {
	margin: 20px;
}
#currentWork {
	margin-top: 20px;
	padding-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 25px;
	margin-left: 30px
	;
}

.subContent {
	margin-left: auto;
	display: flex;
	align-items: center;
}



.songs {
	display: flex;
	flex-flow: column;
	width: 750px;
	margin-top: 40px;
	margin-left: 35px;
	
	
}

.song {
	color: #fff;
	width: 580px;
	height: 50px;
	display: flex;
	align-items: center;
	margin: 2px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.song:hover {
	box-shadow: none;
	transform: translateX(10px);
}

.songCover {
	width: 40px;
	height: 40px;
	margin: 10;
	border-radius: 5px;
	margin: 20px;
}

.songIn4 {
	display: flex;
	flex-flow: column;
}

.songArtist {
	font-size: 10px;
}

.showMore {
	background-color: transparent;
	color: #999;
	border-radius: 15px;
	margin-top: -15px;
}

.dash {
	width: 900px;
}

#collabList {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 20px;
}

button {
	border: none;
	outline: none;
}
button:focus {
	outline: none;
}

hr {
	margin: 30px 0px 30px 0px;
}

button:hover {
	color: tomato;
	text-decoration: underline;
}
