#body {
	display: flex;
	align-items: center;
	flex-flow: column;
	margin-top: 100px;
	margin-left: 225px;
}

#tabs {
	margin: 20px;
	display: flex;
	width: 900px;
	margin-bottom: 10px;
}

.nav-tabs .nav-link {
	border-radius: 15px;
	color: black;
}

#createPlaylist {
	display: flex;
	flex-flow: column;
	width: 900px;
	height: 800px;
	background-color: ghostwhite;
	border-radius: 15px;
	margin: 20px;
	box-shadow: 0 10px 20px rgba(92, 92, 92, 0.19),
		0 6px 6px rgba(77, 77, 77, 0.23);
}

#playlistIn4 {
	width: 900px;
	display: flex;
	height: 250px;
	background-color: white;
	align-items: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#coverUpload {
	width: 150px;
	height: 150px;
	border-radius: 15px;
	border: 1px solid #999;
}

#playlistCover {
	display: flex;
	flex-flow: column;
	margin-left: 25px;
	margin-right: 25px;
	padding-right: 50px;
	width: 150px;
	height: 200px;
	justify-content: center;
	margin-left: 70px;
}

#input {
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: 150px;
}

#nameInput {
	border-radius: 10px;
	width: 500px;
	margin-bottom: 5px;
	padding: 5px 12px;
	align-items: flex-start;
	margin-right: 100px;
	border: 1px solid #999;
}

#descriptionInput {
	border-radius: 10px;
	width: 500px;
	margin-top: 17px;
	height: 98px;
	padding: 5px 12px 5px 15px;
	align-items: flex-start;
}

#search {
	padding: 14px 49px 13px 53px;
	padding-left: 28px;
	border: none;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	outline: none;
}

#search:focus {
	border: 1px solid #999;
}

#addButton {
	border: none;
	width: 900px;
	height: 60px;
	padding: 16px 40px 16px 28px;
	text-align: left;
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom: 1px solid #999;
	outline: none;
}

#arrow {
	margin: 0px;
	margin-left: 670px;
	height: 30px;
	width: 30px;
}

.plusIcon {
	margin: 0px;
	margin-right: 15px;
	font-size: 35px;
}

#add {
	margin: 0px;
	width: 100px;
}

input {
	outline: none;
}

button:focus {
	outline: none;
}

textarea {
	outline: none;
}

#addButton:hover {
	background-color: rgb(207, 207, 207);
}

#addInPlaylist {
	display: flex;
	flex-flow: column;
	height: 440px;
	width: 900px;
	justify-content: flex-start;
	align-items: center;
	color: #999999;
	overflow: scroll;
}

#addInPlaylist::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.musicNote {
	height: 50px;
	width: 50px;
	fill: #999999;
}

#songs {
	display: flex;
	flex-flow: column;
	width: 800px;
	margin-top: 20px;
}

.song {
	width: 750px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: transparent;
}

.songCover {
	width: 40px;
	height: 40px;
	margin: 10;
	border-radius: 5px;
	margin: 20px;
}



.songName {
	margin-top: 5px;
}

.songArtist {
	font-size: 10px;
}

.choose {
	height: 50px;
	width: 50px;
	margin: 0px;
	outline: none;
	border: none;
	background: none;
}

.addingSong {
	display: flex;
	width: 800px;
}

#totalAdded {
	display: flex;
	align-items: center;
	margin: 30px;
	color: rgb(184, 184, 184);
}

.checkbox {
	height: 25px;
	width: 25px;
}

.subContent {
	margin-left: auto;
	display: flex;
	align-items: center;
}



/* width */

#addInPlaylist::-webkit-scrollbar {
	width: 5px;
}

/* Track */

#addInPlaylist::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */

#addInPlaylist::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 3px;
}

/* Handle on hover */

#addInPlaylist::-webkit-scrollbar-thumb:hover {
	background: #555;
}

